.movieCard{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    transition: .2s ease-in-out;
}

.movieCard:hover{
    opacity: 0.8;
}

.movieImage{
    border-radius: 10px;
    background-color: azure;
}

.movieRate{
    margin-left: 1rem;
    border: solid 1px red;
    padding: 0 10px 2px;
    border-radius: .5rem;
    background-color: red;
    color: black;
    font-weight: bold;
}

@media (max-width: 560px){
    .movieImage{
        width: 80%;
        height: auto;
    }
}